$bodyColor: #DCBB9A;
$headingColor: #B36606;
$h1Transform: none;
$contentBackColor: #FFF;
$contentTextColor:black;
$briefColor: black;
$briefBackColor: #FADCBA;
$briefWidth: 380px;
$briefMarginBot: 10px;
$aColor: #3D70A1;
$tableThBackColor: #E0E0E0;
$tableBackColor: $contentBackColor;
$formColor: #808080;
$formValueColor: #808080;
$buttonColor: $aColor;