$bodyColor: rgba(198, 238, 252, 0.53);
$headingColor: #fccd10;
$h1Transform: uppercase;
$contentBackColor: #3b3b3b;
$contentTextColor: #FFF;
$briefColor: black;
$briefBackColor: #FFF178;
$briefMarginBot: 40px;
$briefWidth: 96%;
$aColor: $headingColor;
$tableThBackColor: $headingColor;
$tableBackColor:#798C1F;
$formColor: $headingColor;
$formValueColor: #808080;
$buttonColor: $headingColor;
